@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>    
    <p>Do you see the image?</p>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <img src="~/FolderToProtect/image.svg" title="Image" alt="Log in to see the image" class="img-responsive" style="margin-left: auto; margin-right: auto;"/>
    </div>
</div>